.Display {
  padding: 0 13.5rem;
  display: flex;
  justify-content: flex-start;
  gap: 7rem;
  margin: 0 auto;
  margin-top: 5rem;
}
.Display img {
  width: 50%;
}

.Info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 100;

  font-size: 1rem;
  letter-spacing: 0.15rem;
}
.Description {
  margin-top: 2rem;
  font-family: "Roboto";
  font-size: 0.9rem;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.7);

  text-align: start;
}
