.Display {
  padding: 0 13.5rem;
  display: flex;
  justify-content: flex-start;
  gap: 11.3rem;
  margin: 0 auto;
  margin-top: 5rem;
}
.Display img {
  width: 50%;
}

.Info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 100;

  font-size: 1rem;
}
.Description {
  margin-top: 2rem;
  font-family: "Roboto Variable";
  font-weight: normal;
  font-size: 0.9rem;
  word-spacing: 0.09rem;
  letter-spacing: -0.01rem;
  color: rgba(0, 0, 0, 0.5);

  text-align: left;
}
